<!--Cabecera-->
<header id="header">
    <div class="navbar navbar-default">

        <div class="navbar-header">
            <a href="" class="navbar-brand">
                Concesionario.
            </a>
        </div>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="">Inicio</a>
                </li>
                <li>
                    <a href="">Crear Coche</a>
                </li>


            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="">Identificate</a>
                </li>
                <li>
                    <a href="">Registro</a>
                </li>

            </ul>

        </div>
    </div>
</header>


<!--Contenido-->

<login></login>